<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link href="../src/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <title>Registrar Visita</title>
</head>
<body>
    <main>
      <form>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Ingresa tu nombre</span>
  </div>
<input type="text" class="form-control" id="user-name" required minlength="3" maxlength="20" autocomplete="name" aria-label="Sizing example input"
  aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Ingresa tus apellidos</span>
  </div>
<input type="text" class="form-control" id="user-last-name" required minlength="3" maxlength="20" autocomplete="last-name"
  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Ingresa tu e-mail</span>
  </div>
<input type="text" class="form-control" id="user-email" required autocomplete="email" aria-label="Sizing example input"
  aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">#celular (10 digitos)</span>
  </div>
<input type="text" class="form-control" id="user-number" required maxlength="10" autocomplete="number" aria-label="Sizing example input"
  aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Motivo de la visita</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">Personal</option>
    <option value="2">Reunión</option>
    <option value="3">Entrevista</option>
  </select>
</div>
        <!--label for="user-name">Ingresa tu nombre</label>
        <input type="text" placeholder="Nombre" id="user-name" required minlength="3" maxlength="20" autocomplete="name">
        <label for="user-last-name">Ingresa tus apellidos</label>
        <input type="text" placeholder="Apellidos" id="user-last-name" required minlength="3" maxlength="20" autocomplete="last-name">
        <laberl for="user-email">Ingresa tu e-mail</laberl>
        <input type="email" placeholder="Email" id="user-email" required autocomplete="email">
        <label for="user-number">Ingresa tu número celular (10 digitos)</label>
        <input type="number" placeholder="Celular" id="user-number" required maxlength="10" autocomplete="number">
        <label for="user-reason">Motivo de Visita</label>
        <select>
          <option>Personal</option>
          <option>Reunión</option>
          <option>Entrevista</option>
        </select-->
<input type="submit" value="Enviar" class="btn btn-secondary" id="btn-send">
      </form>

      <video id="player" controls autoplay></video>
      <button id="capture">Capturar</button>
      <canvas id="snapshot" width="320" height="240"></canvas>
</main>

    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/data.js"></script>
</body>
</html>
