<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registrar Visita</title>
</head>
<body>
    <main>
      <form>
        <input type="text" placeholder="Nombre" id="user-name">
        <input type="text" placeholder="Apellidos" id="user-last-name">
        <input type="email" placeholder="Email" id="user-email">
        <input type="number" placeholder="Celular" id="user-number">
        <button type="submit" name="send" id="btn-send">Enviar</button>
      </form>
    </main>

    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/data.js"></script>
</body>
</html>
