<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registrar Visita</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
</head>

<body>
  <main>
    <form>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
  </div>
  <input type="text" class="form-control" id="user-name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
      <!--input type="text" class="form-control" placeholder="Nombre" id="user-name"-->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Apellidos</span>
  </div>
  <input type="text" class="form-control" id="user-last-name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
      <!--input type="text" placeholder="Apellidos" id="user-last-name"-->
      <!--input type="email" placeholder="Email" id="user-email"-->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  </div>
  <input type="text" class="form-control" id="user-email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Celular</span>
  </div>
  <input type="text" class="form-control" id="user-number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
      <!--input type="number" placeholder="Celular" id="user-number"-->
<button type="submit" name="send" class="btn btn-secondary btn-lg" id="btn-send">Enviar</button>
    </form>
  </main>

  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
  <script src="../src/js/main.js"></script>
  <script src="../src/js/data.js"></script>
</body>

</html>
