<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/sin.css">
</head>
<body>
    <div class="container">
        <main>
            <!--Firma-->
            <section>
                <p>Coloca tu firma aquí</p>
                <canvas id="nuestroCanvas" width="250" height="100"></canvas>
                <img src="" id="nuestroCanvas" alt="">
            </section>  
        </main>
    </div>
 <script src="../src/js/signature.js"></script>
</body>
</html>