body {
background-color: #000000;
}
header{
    height: 100px;
    display: flex;
    padding: 30px 20px;
    background-color: #000000;
}
.imggif{
    background-color: black;
    width: 600px;
}
p{
    color: #EDE9DD;
    font-family:Roboto,Arial,sans-serif;
    font-size: 28px;
}
#btnregistro{
  font-family:Roboto,Arial,sans-serif;
  color: #231F20;  
}
/* #231F20 negro terminal 1 blanco #EDE9DD */