*{
    margin: 0px;
    padding: 0px;
  }

/* font-family:Roboto,Arial,sans-serif;  
#231F20 fondo gris de terminal 1 
#EDE9DD blanco terminal 1 */
input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

h1{
    text-align: center;
}

